# Python Bytecode
__pycache__/
*.pyc
*.pyo

# Virtual Environment
venv/
.env/
env/
*.env

# Flask / Django Specific
instance/
*.log
*.pot
*.pyc
*.pyo

# mypy
.mypy_cache/

# coverage reports
.coverage
*.cover
nosetests.xml
coverage.xml
*.hypothesis/

# pytest
.cache/

# Jupyter Notebooks
.ipynb_checkpoints/

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db
ehthumbs.db

# Environment variable files (optional, in case you use .env.local or .env files)
.env.local
*.env

# PyInstaller
dist/
build/

# Anaconda
conda-meta/
